.timer {
  display: inline-block;
  padding: 50px 20px;
}

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://icon2.cleanpng.com/20180422/rre/kisspng-computer-icons-progress-bar-desktop-wallpaper-symb-progress-vector-5add2706d1be25.8038400215244428868591.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
  background-image: url(https://steemitimages.com/DQmP4nSpdFhwUjRQ6wS3UkcjRNZEdRDJAscKrxJB33D73qb/Antu_task-complete.svg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
  background-image: url(https://patch.com/img/cdn20/users/107116/20181203/074636/styles/raw/public/processed_images/cancelled-2-1543884130-8809.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
}
